[submodule "Milestone-2/Conceptual Session/Explore-Grid-and-Flexbox-B7/Explore-Grid-and-Flexbox-B7"]
	path = Milestone-2/Conceptual Session/Explore-Grid-and-Flexbox-B7/Explore-Grid-and-Flexbox-B7
	url = https://github.com/anikbsmrstucse/milestone-1.git
[submodule "Milestone-2/Module-10(Flex-and-grid-project)/leaderborad-css3"]
	path = Milestone-2/Module-10(Flex-and-grid-project)/leaderborad-css3
	url = https://github.com/anikbsmrstucse/milestone-1.git
